* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}

ul {
  display: flex;
  background-color: #0e3b77;
  justify-content: center;
  text-decoration: none;
  padding: 30px 0;
  list-style: none;
  position: fixed;
  width: 100%;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 25px 15px;
}

li a:hover:not(.active) {
  color: gold;
}

.active {
  color: gold;
}
